@media (max-width: 720){
/*nav*/
 .nav{
    align-items: center;
 }
.nav p{
    font-size: 12px;
    white-space: pre-line;
}
.nav li{
    font-size: 12px;
}

/*프로필*/
.profile{
    flex-direction: column;
}
.profileContent{
    flex-direction: column;
}
.profile{
    text-align: center;
    flex-direction: column;
    margin-top: 40px;
}
.prifileContent{
    flex-direction: column;
    margin-bottom: 30px;
}
.profileText{
    margin-top: 20px;
}
}

